<h1>Listing encuestas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Fecha inicio</th>
    <th>Fecha fin</th>
    <th>Preguntas</th>
    <th></th>
    <th></th>
  </tr>

<% @encuestas.each do |encuesta| %>
  <tr>
    <td><%= encuesta.nombre %></td>
    <td><%= encuesta.fecha_inicio %></td>
    <td><%= encuesta.fecha_fin %></td>
    <td><%= link_to 'Preguntas', encuesta_preguntas_path(encuesta) %></td>
    <td><%= link_to 'Editar', edit_encuesta_path(encuesta) %></td>
    <td><%= link_to 'Eliminar', encuesta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Encuesta', new_encuesta_path %>
