<h1>Rutas</h1>

<%= link_to 'Nueva Ruta', new_ruta_path %>

<table>
  <thead>
    <tr>
      <th>Nombre Ruta</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
    </tr>
  </thead>
  <tbody>
    <% @rutas.each do |ruta| %>
    <tr>
      <td><%= ruta.nombre %></td>
      <td><%= ruta.fecha_inicio %></td>
      <td><%= ruta.fecha_final %></td>
      <td><%= link_to 'Editar', edit_ruta_path(ruta) %></td>
      <td><%= link_to 'Eliminar', ruta_path(ruta), :method => :delete %></td>
    </tr>
    <% end -%>

  </tbody>
</table>